*.pyc
*.xml
*.iml
/.idea
/.vscode
/eatoye_datastore/**/*.json
/eatoye_datastore/**/*.db
*.pyc
static/media
static/CACHE
static/app_rating
.idea
*.log
.htaccess
.DS_Store
gulpfile.js
package.json
node_modules/*
.sass-cache/*
.DS_Store
static/.DS_Store
/blog/
/logs/
db-backup.sql
static/scss/.sass-cache/*
*.DS_Store
newrelic.ini
*.map
maintenance.html
/venv/
.env
/config/media/
config/media/
docker-compose.yml